* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

.container {
    width: 100vw;
}

.flex {
    display: flex;
}

.unflex{
    display: block;
}

.navegacao {
    background-color: #4aa2d8;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    font-family: Rockwell;
    font-weight: bold;
    font-size: 1.7em;
    border-bottom: 1px solid #696969;
}

.navegacao img {
    height: 100%;
    margin-left: 3em;
}

.navegacao ul {
    margin: 0 3em 0 1em;
}

.navegacao li {
    padding: 2em;
    list-style: none;
}

.navegacao a {
    color: #fff;
    padding: 0.5em;
}

.navegacao a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 0.5em;
}

#login {
    margin-right: 3em;
}

.banner {
    justify-content: center;
    height: 70vh;
    background-image: url("../img/layer2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#caixa {
    display: flex;
    justify-content: space-between;
    padding: 3em;
    border: 3px solid black;
    background-image: url("../img/fundo_caixa_home.png");
    height: 30%;
    width: 45%;
    margin: auto;
}

#caixa img {
    height: 100%;
    padding: 0 2em;
}

#caixa h2 {
    font-family: 'Sui Generis Free';
    font-size: 3em;
    color: white;
    margin: auto 1em auto 6em;
}

.infos{
    background-color: #568bac;

}

.bloco{
    justify-content: space-around;
    padding: 2em 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100vw;
}

.bloco img{
    padding-left: 3em;

} 

.bloco div > h2{
    color: white;
    font-size:2em;
}

.bloco div > p{
    color:white;
    margin-top: 0.5em;
    width: 70%;
}

.invertido{
    flex-direction: row-reverse;
    justify-content: space-around;
}

.invertido h2{
    padding-left: 91%;
}

.invertido p{
    padding-left:30%;
}

.invertido img{
    padding-right:3em;
}

.rodape{
    background-color:#002446;
    justify-content: space-between;
    padding: 1em 0;
}
