@using ponto_digital_SENAI.Models; 
@using System.Collections.Generic;


@{
    ViewData["TituloPag"] = "Dashboard";
    var user = (Usuario) ViewData["Usuario"];
    List<Usuario> users = ViewData["usuarios"] as List<Usuario>;
    List<Depoimento> depoimentos = ViewData["depoimentos"] as List<Depoimento>;
    int contadorPendentes = 0;


}

<h2>Bem vindo(a), @user.Nome</h2>

<ul>
    <li><a asp-controller="Dashboard" asp-action="ListarUsuarios">Listar Usuários</a></li>
    <li><a asp-controller="Dashboard" asp-action="Depoimentos">Listar Depoimentos</a></li>

    <p>Usuarios cadastrados: @users.Count</p>
    @foreach(var item in depoimentos){
        if(item.Status == 'e'){
            contadorPendentes++;
        }
    }

    <p>Depoimentos pendente: @contadorPendentes</p>
    

</ul>