@{
    ViewData["TituloPag"] = "Dashboard";
    var user = (Usuario) ViewData["Usuario"];
        
}

<h2>Bem vindo(a), @user.Nome</h2>

<ul>
    <li><a asp-controller="Dashboard" asp-action="ListarUsuarios">Listar Usuários</a></li>
    <li><a asp-controller="Dashboard" asp-action="Depoimentos">Listar Depoimentos</a></li>

</ul>