@{
    ViewData["TituloPag"] = "Pacotes";
}
<section class="introd">
            <h2>Pacotes</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus laborum vero sapiente incidunt a. Iusto
                odit dolore necessitatibus. Voluptatem repellendus dicta officia nulla cum impedit iure architecto
                dolore soluta provident!</p>
        </section>
        <section class="lista_pacotes">
            <div class="conj_box flex">

                <div class="pac_box">
                    <h3>Pacote 1</h3>
                    <img src="img/pacote1.png" alt="">
                    <h4>R$29,99</h4>
                    <ul>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                    </ul>
                    <a href="#" class="comprar" target="_blank">Comprar</a>
                </div>

                <div class="pac_box">
                    <h3>Pacote 2</h3>
                    <img src="img/pacote2.png" alt="">
                    <h4>R$149,99</h4>
                    <ul>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                    </ul>
                    <a href="#" class="comprar" target="_blank">Comprar</a>

                </div>
                <div class="pac_box">
                    <h3>Pacote 3</h3>
                    <img src="img/pacote3.png" alt="">
                    <h4>R$299,99</h4>
                    <ul>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                    </ul>
                    <a href="#" class="comprar" target="_blank">Comprar</a>
                </div>
                <div class="pac_box">
                    <h3>Pacote 4</h3>
                    <img src="img/pacote4.png" alt="">
                    <h4>A definir</h4>
                    <ul>

                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                    </ul>
                    <a href="#" class="comprar" target="_blank">Comprar</a>
                </div>
                <div class="pac_box">
                    <h3>Pacote teste</h3>
                    <img src="img/pacote_teste.png" alt="">
                    <h4>Grátis</h4>
                    <ul>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                        <li>
                            <p>-lorem ipsum</p>
                        </li>
                    </ul>

                    <a href="#" class="comprar" target="_blank">Comprar</a>
                </div>
            </div>
        </section>