@{
ViewData["TituloPag"] = "Cadastro";
}

<section class="formulario">

    <h2>Cadastro</h2>
    <div class="forms">

        <form action="Cadastro/Cadastrar" method="POST">
            <input type="text" placeholder="Nome" name="nome" minlength="3" required>
            <br />
            <input type="email" name="email" id="email" placeholder="E-mail" required>
            <br />
            <input type="email" name="conf_email" id="conf_email" placeholder="Confirmar e-mail" required>
            <br />
            <input type="number" name="" id="" min="0" maxlength="11" placeholder="CPF(opcional)">
            <br>
            <input type="password" name="senha" id="senha" placeholder="Senha" required>
            <br />
            <input type="password" name="conf_senha" id="conf_senha" placeholder="Confimar senha" required>
            <br />
            <label for="dataNascimento">Data de nascimento</label>
            <br>
            <input type="date" name="dataNascimento" id="dataNascimento" >
            <br />
            <input type="text" name="chave" id="chave" placeholder="Chave de produto(opcional)">
            <br />
            <input type="submit" value="Criar conta">
            <br />

        </form>
    </div>
</section>