.conteudo{
    background-color:#889ead;
    justify-content: space-around;
}


.conteudo p{
    color: white;
    margin-left: 1.5em;
    font-size: 1.3em;
}

.conteudo h2 {
    color:white;    
    text-align: center;
    font-size:2em;
    padding:0.5em 0;
}

    
.imagens img{
    height: 50vh;
    margin: 0 1em;
}

.texto_abaixo p{
    margin: 1.5em 3em

}


.mapa{
    padding: 0 1em;
    width: 99%;
    height: 25vh;
    padding-bottom: 1em;
}